<div class="row">
    <div class="col-md-8 offset-md-2">
        <table class="table table-hover table-striped table-bordered">
            <tr>
                <th>Title</th>
                <th>Category Name</th>
                <th>Due Date</th>
                <th>Completed Date</th>
            </tr>
 

            <% toDos.forEach(function(toDo) { %>
                <tr>
                    <td><%= toDo.Title %></td>
                    <td><%= toDo.Name %></td>
                    <td><%= toDo.DueDate.toDateString() %></td>
                    <td>
                        <%= toDo.CompletedDate === null ? 'N/A' : toDo.CompletedDate.toDateString() %>
                    </td>
                </tr>
              <% }); %>
        </table>
    </div>
</div>