<div class="row">
    <div class="col-md-8 offset-md-2">
        <table class="table table-hover table-striped table-bordered">
            <tr>
                <th>Title</th>
                <th>Category Name</th>
                <th>Due Date</th>
                <th>Completed Date</th>
            </tr>
            <% for(let i=0; i < toDos.length; i++) { %>
                <tr>
                    <td><%= toDos[i].Title %></td>
                    <td><%= toDos[i].Name %></td>
                    <td><%= toDos[i].DueDate.toDateString() %></td>
                    <td>
                        <%= toDos[i].CompletedDate === null ? 'N/A' : toDos[i].CompletedDate.toDateString() %>
                    </td>
                </tr>
            <%}%>
        </table>
    </div>
</div>