<div class="row">
    <div class="col-md-8 offset-md-2">
        <a href="/toDo/addCategory" class="btn btn-success">New Category</a>
        <br />
        <table class="table table-hover table-striped table-bordered">
            <tr>
                <th>Category Name</th>
                <th>Edit</th>
            </tr>
    

                <% categories.forEach(function(category) { %>
                    <tr>
                    <td>
                        <a href="/toDo/byCategory?id=<%= category.Id %>">
                            <%= category.Name %>
                        </a>
                    </td>
                    <td>
                        <a href="/toDo/editCategory?id=<%= category.Id %>" class="btn btn-warning">Edit</a>
                    </td>
                    </tr>   
                  <% }); %>
        </table>
    </div>
</div>